.crb-ik-wrapper .advanced-settings-wrapper { margin-top: 20px; }
.crb-ik-wrapper .progress-card { position: relative; padding: .7em 2em; max-width: 572px; box-sizing: border-box; }
.crb-ik-wrapper .progress-card .progress-bar { position: absolute; top: 0; bottom: 0; left: 0; background: #0073aa; color: #fff; }